language: python
python:
    - "2.7"

# Cache PlatformIO packages using Travis CI container-based infrastructure
sudo: false
cache:
    directories:
        - "~/.platformio"

env:
    - PLATFORMIO_CI_SRC=1
    - PLATFORMIO_CI_SRC=2
    - PLATFORMIO_CI_SRC=3

install:
    - pip install -U platformio
    - platformio update

script:
    - platformio ci
#    - platformio ci --project-conf=1/platformio.ini
    
